# Build directories
build/
out/
cmake-build-*/

# IDEs
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.o
*.obj
*.dll
*.so
*.dylib
*.vst
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# OS specific
.DS_Store
Thumbs.db
